body{
    background-image: url(../img/06error/sauron.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

H1{
    font-family: titulos;
    color: #D2AE77 ;
    text-align: center;
    font-size: 10rem;
    line-height: 12rem;
}

h2{
    font-family: subtitulos;
    color: #D2AE77;
    text-align: center;
    font-size: 5rem;
}

@media (max-width: 768px) {

    h1{
        font-size: 5rem;
        line-height: 5rem;
    }

    h2{
        font-size: 2rem;
    }

}
