.titulo {
    font-family: titulos;
    font-size: 3rem;
    color: #D2AE77;
    margin: 10px;
}

/*Eventos y nominaciones*/

.subtitulo {
    font-family: subtitulos;
    font-size: 1rem;
    white-space: pre-line;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contenedor img {
    width: 60%;
    max-width: 700px;
    height: auto;
}

.contenedor span {
    width: 55%;
    font-size: 1.2rem;
}


/*CURIOSIDADES*/

.contenedordos {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.contenedordos img {
    width: 300px;
    height: auto;

}

.contenedordos span {
    flex:1;
    margin:0;
}

/*RESPONSIVE*/

@media (max-width: 768px) {

    .titulo {
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contenedor img {
        width: 100%;
        max-width: 100%;
    }

    .contenedor span {
        width: 100%;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .contenedordos {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .contenedordos img {
        width: 100%;
        max-width: 100%;
    }

    .contenedordos span {
        font-size: 1rem;
        width: 100%;
        margin: 0 auto;
    }
}