@font-face {
    font-family: "titulos";
    src: url("../fonts/Inknut_Antiqua/InknutAntiqua-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "subtitulos";
    src: url("../fonts/InriaSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "textos";
    src: url("../fonts/InriaSans-Regular.ttf") format("truetype");
}

/*HEADER*/

.logo img {
  height: 3rem; 
}

header {
  background-color: black;
  padding: 1.5% 3%;
}

.divheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navheader {
  display: flex;
  gap: 5rem;
}

.aheader {
  font-family: textos;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

/*HOVER*/

.aheader:hover {
  color: #d2ae77;
}

/*BODY*/

body {
  background-color: black;
  color: white;
  font-family: textos;
  font-size: 1rem; 
  margin: 0;
  padding: 0;
}

/*FOOTER*/

footer {
  background-color: #d2ae77;
  padding: 2% 0;
}

.footernav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.footernav a {
  font-family: subtitulos;
  font-size: 1rem;
  text-decoration: none;
  color: black;

}


