/*PRIMER PARTE*/

.imagen{
  width: 100%;
}

.subtitulo {
  background-color: #d2ae77;
  color: black;
  font-family: subtitulos;
  font-size: 1rem;
  text-align: center;
  padding: 3% 8%;
  line-height: 1.5;
}

/*SEGUNDA PARTE*/

.contenedoruno {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5% auto;
  width: 90%;
}


.contenedoruno img{
  width: 40%;
  border-radius: 5px;
}

.columnauno {
  font-size: 1.5rem;
  width: 50%;
  line-height: 1.5;
}

/*TERCER PARTE*/


.ultimocontenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3%;
  width: 90%;
  margin: 5% auto;
}

.card {
  flex: 1 1 30%;
  max-width: 30%;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card p {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  .divheader {
    flex-direction: column;
    gap: 1rem;
  }

  .aheader {
    font-size: 1rem;
  }

  .subtitulo {
    font-size: 1rem;
    padding: 8%;
  }

  .contenedoruno {
    flex-direction: column;
    text-align: center;
  }

  .fotouno, .columnauno {
    width: 90%;
    font-size: 1rem;
  }

  .ultimocontenedor {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }

  .card p {
    font-size: 1rem;
  }

  .footernav a {
    font-size: 1rem;
  }
}